# Copien este archivo como ".env" (sin el ".example") y coloquen sus propios
# datos de conexión. El archivo ".env" NUNCA debe subirse a GitHub/Drive/etc.
# porque contiene contraseñas.

DB_NAME=bd_airbnb
DB_USER=postgres
DB_PASSWORD=coloquen_aqui_su_password
DB_HOST=localhost
DB_PORT=5432
